<%= form_for(@post, html: {class: 'form-horizontal'}, remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :author_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :author_id, options_for_select(Author.all.collect {|a| ["#{a.lname}, #{a.fname}", a.id]}, selected: (@post.author ? @post.author.id : Author.first.id)), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control'  %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :article, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :article, class: 'form-control'  %>
    </div>
  </div>
  <div class="field from-group">
    <%= f.label :likes, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :likes, class: 'form-control'  %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :status, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :status, options_for_select(@statuses.collect {|s| [s[0].humanize, s[0]]}, selected: @post.status), {}, class: 'form-control'  %>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
  <div id="submitbutton"></div>
<% end %>
