<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

<%= render 'shared/navigation' %>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Welcome to my pretty blog.  Come back here often for my daily doses of free wisdom.</p>
  </div>

  <div id="main">
  	<%= yield %>
  </div>

</div>

</body>
</html>
